<md-toolbar>
  <h2>Keyboard Shortcuts</h2>
</md-toolbar>
<md-list>
  <md-list-item>
    <md-icon md-list-icon>&larr;</md-icon>
    <h3 md-line>Seek Left</h3>
    <p md-line>Left Arrow / a</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>&rarr;</md-icon>
    <h3 md-line>Seek Right</h3>
    <p md-line>Right Arrow / d</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>&uarr;</md-icon>
    <h3 md-line>Increase Volume</h3>
    <p md-line>Up Arrow / w</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>&darr;</md-icon>
    <h3 md-line>Decrease Volume</h3>
    <p md-line>Down Arrow / s</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>space_bar</md-icon>
    <h3 md-line>Toggle Play/Pause</h3>
    <p md-line>Spacebar</p>
  </md-list-item>
</md-list>
