.app-container{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    min-width: 320px;
    overflow: hidden;
    flex-direction: column;
    // overflow: scroll;
    app-video-elements{
        flex: 1 1 auto;
    }
    app-video-controls{
        flex: 0;
    }
}