.video-element {
  height: inherit;
  display: block;
  width: inherit;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: 1px solid black;
  .video-buttons {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
  }
  video {
    width: 100%;
    height: 100%;
  }
}
