$font-size: 14px;
$font-weight: 400;
$letter-spacing: 1px;
.video-controls-container {
  position: relatve;
  margin-bottom: 2px;
}

md-toolbar {
  position: relative;
  md-slider.progress-slider {
    top: 40px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: transparent;
    margin-top: 20px;
    bottom: 0;
    position: absolute;
    z-index: 10;
    padding: 0;
  }
}

@media screen and (max-width:600px) {
  .mat-toolbar .mat-toolbar-row {
    flex-direction: column;
    height: 200px;
    background-color: red;
    .controls {
      justify-content: center;
    }
  }
}

md-toolbar {
  min-height: 84px;
}

.fill-remaining-space {
  flex: 1;
}

.controls {
  // padding-bottom:20px;
  font-size: $font-size;
  font-weight: $font-weight;
  button {
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
  }
}

.controls-middle {
  flex: 0;
  display: flex;
  align-items: center;
  button {
    margin: 0 4px;
  }
}

.controls-left,
.controls-right {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  position: relative;
  min-width: 0px;
}

.controls-left {
  justify-content: flex-start;
  .time-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
  }
}

.controls-right {
  font-size: $font-size;
  align-self: center;
  justify-content: flex-end;
}

.time-text-container {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width:550px) {
  .controls-stop,
  .controls-playback-speed,
  .controls-seek-step {
    display: none;
  }
  .time-text-container {
    flex-direction: column;
    .time-seperator {
      display: none;
    }
  }
}

.volume-container {
  flex-direction: column-reverse;
  display: flex; // margin-top: 168px;
  z-index: 99;
  .volume-slider {
    width: 40px; // setting same width as buttons
  }
  .volume-slider,
  .volume-off,
  .volume-up {
    display: none;
  }
  .volume-status {
    display: block;
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }
}

.volume-container:hover {
  margin-top: 168px;
  transition: margin-top 0s ease-in;
  z-index: 100;
  .volume-slider,
  .volume-off,
  .volume-up {
    display: block;
    opacity: 1;
    transition: display .2s, opacity .2s ease-in;
  }
  .volume-status {
    display: none;
    opacity: 0;
    transition: height 0.1s ease-out, opacity 0.1s ease-out;
  }
}
